.movie-list{
    max-width: 800px;
    margin: 14px auto;
}

.movie-list article{
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 4px;
}

.movie-list img{
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.movie-list strong{
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;
}

.movie-list a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
    background-color: #116feb;
    text-decoration: none;
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

.load-more button{
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
    width: 100%;
}

.load-more{
    max-width: 800px;
    margin: 14px auto;
    
}